.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a202c; /* Cor de fundo mais escura para um visual mais moderno */
  color: #edf2f7; /* Cor de texto mais clara para contraste */
  padding: 20px;
  transition: all 0.5s ease; /* Adicionado transição suave para todos os estilos */
  margin-bottom: 30px;
}

.header .logo-name {
  font-size: 1.5em; /* Reduzido para tornar o cabeçalho menor */
  font-weight: bold;
  color: #38b2ac; /* Cor de destaque para o nome */
  animation: color-change 2s infinite; /* Adicionado animação para mudança de cor */
}

@keyframes color-change {
  0% { color: #edf2f7; }
  50% { color: #38b2ac; }
  100% { color: #edf2f7; }
}

.header .nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center; /* Adicionado para alinhar os links de navegação com o nome do logo */
}

.header .nav-links li {
  margin: 0 10px;
}

.header .nav-links a {
  color: #edf2f7; /* Cor de texto mais clara para contraste */
  text-decoration: none;
  font-size: 1em; /* Reduzido para tornar o cabeçalho menor */
  transition: color 0.5s ease; /* Adicionado transição suave para a cor */
}

.header .nav-links a:hover {
  color: #38b2ac; /* Cor de destaque para o hover */
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 10px; /* Reduzido para tornar o cabeçalho menor em telas pequenas */
  }

  .header .logo-name {
    margin-bottom: 10px;
  }

  .header .nav-links {
    justify-content: center;
  }
}
